<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="Responsive Admin Template" />
        <meta name="author" content="RedstarHospital" />
        <title>MetaGuise</title>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    
        <!-- icons -->
        <link href="/static/cms/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/cms/assets/bundles/iconic/css/material-design-iconic-font.min.css">
        <!-- bootstrap -->
        <link href="/static/cms/assets/bundles/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- style -->
        <link rel="stylesheet" href="/static/cms/css/extra_pages.css">
        <!-- favicon -->
        <link rel="shortcut icon" href="/static/cms/images/Cargoflash_Favicon.png" />
    </head>
    

<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-logo">
                        <img alt="" src="/static/cms/images/cargo-flash-logo.png" width= "99px">
                    </span>
                    <span class="login100-form-title p-b-34 ">
                        Log in
                    </span>
                    <%if(post){%><span style="color: #ff0000;"><%=error%></span><%}%>
                    <div class="wrap-input100 validate-input" data-validate="Enter valid email">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <div class="text-center p-t-30">
                        <a class="txt1" href="forgot_password.html">
                            Forgot Password?
                        </a>
                    </div>
                    <input name='_csrf' value='<%=_csrf%>' style="display:none;">
                </form>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="/static/cms/assets/bundles/jquery/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/cms/assets/bundles/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/cms/assets/data/login-data.js"></script>
    <!-- end js include path -->
</body>

</html>
