<html lang="en">
    <%-include('head.ejs')%>
<body>
	<%-include('header.ejs')%>

	<div class="thankmain-content">
		<h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
		<p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out. It means a lot to us, just like you do!<br> We really appreciate you giving us a moment of your time today.<br> Thanks for being you.</p>
	</div>

	<!-- <footer class="site-footer" id="footer">
		<p class="site-footer__fineprint" id="fineprint">Copyright ©2014 | All Rights Reserved</p>
	</footer> -->
	<%-include('footer.ejs')%>
</body>
</html>