<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Trendsnavutsav</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <!-- icons -->
    <link href="/static/cms/assets/bundles/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->
    <link href="/static/cms/assets/bundles/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/assets/bundles/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="/static/cms/assets/bundles/material/material.min.css">
    <link rel="stylesheet" href="/static/cms/css/material_style.css">
    <!-- Theme Styles -->
    <link href="/static/cms/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="/static/cms/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/theme-colo  r.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/cms/css/custom.css" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/logo.png" />
    <!-- Sweet Alert -->
    <link href="/static/cms/assets/bundles/sweet-alert/sweetalert.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/assets/bundles/summernote/summernote.css" rel="stylesheet"/>


    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
</head>
